/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.city-modal .header-text .modal-title {
	text-align: center;
	width: 85%;
	height: 0px;
}
.popular-city-wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.popular-city-item{
	width: 200px;
}
.popular-city-title{
	display: flex;
	border: 2px solid #ddd;
	border-radius: 5px;
	padding: 5px 20px;
	margin: 5px;
}
.popular-city-title span{
	padding-top: 12px;
	margin-left: 10px;
}

/* fitler-switch toggle */
.home-search{
	line-height: 5;
	margin-left: 20px;
	border-radius: 5px;
	padding: 0px 10px 5px 10px;
}
.home-search input, .home-search select{
	color:#413939;
	border: none;
	padding: 1px 10px;
}

.featured-item{	
	display: flex;
	justify-content: space-around;
}

.featured-property .featured-item{
	height: 60px;
	padding: 15px;
}
.team-image img{
	max-width: 200px;
}
.what-to-do img{
	max-width: 400px;
}
.min-height-35em {
	min-height: 35em;
}
.min-height-10em{
	min-height: 10em;
}